<%-include("header")-%>
<center>
<h2>this is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam repellat assumenda maiores odio delectus, similique vero facilis asperiores deserunt, ipsum illo, ullam dignissimos pariatur modi non tenetur animi ducimus quisquam!</p>
<%-include("footer")-%>
</center>